<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	<!-- below logger handles logging for the below package -->
	<logger name="org.hibernate.type.descriptor.sql" level="trace" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- below logger handles logging for the below package -->
	<logger name="org.hibernate.SQL" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<!-- below logger handles logging for packages which are not handled by the above loggers -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
